.contenedor {
    overflow: scroll;
    width: 73%;
    height: 500px;
    float: right;
    margin-bottom: 60px;
}

.portal {
    display: grid;
    grid-template-columns:repeat(2,1fr); 
    column-gap: 10px;
    row-gap:10px;
    background-color: white;
}

.registro {
    border: 2px solid black;
    border-radius: 7px;
    min-height: 300px; /*300*/
    height: auto;
    margin: 1%;
    padding: 20px 20px 10px 20px;
    background-color: white;
    display: block;
}

.textreg {
    font-size: 20px;
    color: black;
    font-family: "Verdana";
    letter-spacing: 2px;
    text-align: center;
    background-color: lightgrey;
    border-radius: 7px;
    padding: 3px;
}

.imgreg {
    text-align: center;
}

    .imgreg img {
        width: 150px; /*100*/
        height: 150px; /*100*/
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
    }

.deshabilita{
    visibility:hidden;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;

}

.mensaje {
    background-color: rgb(72, 0, 255,0.4);
    padding: 5px 0px;
    color: black;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
}

h4 {
    background-color: black;
    color: white;
    padding: 10px 0px 10px 30px;
}

/* LOGIN */
.fondologin {
    background-image: url(../img/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}

.imglogin {
    width: 60%;
    margin-bottom: 15px;
}

.divlogin {
    width: 30%;
    margin: 20px auto;
    background-color: rgb(0, 148, 255, 0.4);
    border:1px solid darkgray;
    border-radius: 40px;
    padding: 15px;
}

.plog {
    text-align: center;
}
/* NAV */
.nav {
    background-color: midnightblue;
    display: block;
    height: 140px;
}

    .nav .carimg {
            width: 100px;
            margin: 20px;
            float: right;

    }

    .nav .logoimg {
        height: 100px;
        margin: 20px;
        float: left;
    }

/* MENÚ de la izquierda*/

.menuportal {
    width: 25%;
    height: 550px;
    display: block;
    flex-direction: column;
    float: left;
    margin-right: 20px;
    background-color: black;
    margin-bottom: 60px;
}

    
    .menuportal a {
        color: white;
        text-align: center;
        letter-spacing: 2px;
        text-decoration: none;
        font: bold 16px "Verdana";
        display: block;
    }


    .menuportal li {
        background-color: black;
        list-style: none;
        border: 2px solid white;
        border-radius: 7px;
        margin: 10px;
        padding: 10px;
        text-align: center;
    }
/*
.menuportal > li {
    float: left;
}

.menuportal li a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: block;
}
    */
    .menuportal li a:hover {
        background-color: #434343;
    }
        
.menuportal li ul {
    display: none;
    position: absolute;
}
    
.menuportal li:hover > ul {
    display: block;
}

.menuportal li ul li {
    position: relative;
    margin: 0px;
}

    .nav li ul li ul {
        right: -140px;
        top: 0px;
    }


