
<div class="nav">
    <img class = "logoimg" src="~/img/logo.png"/>
    <a asp-action="Carrito"><img class = "carimg" src="~/img/carrito.png"></a>
    
</div>

<div class="menuportal">

    <li><a asp-action="MenuPrincipal">Menú Principal</a></li>
    <li><a href="#">Mantenimientos</a>
        <ul>
			<li><a asp-action="#">Mantenimiento de productos</a></li>
			<li><a asp-action="#">Mantenimiento de clientes</a></li>
			<li><a asp-action="RegistrarEmpleado">Mantenimiento de empleados</a></li>
			<li><a asp-action="#">Mantenimiento de proveedores</a></li>
            <li><a asp-action="#">Mantenimiento de pedidos</a></li>
		</ul>
    </li>
    <li><a asp-action="#">Reportes</a>
        <ul>
			<li><a asp-action="#">Reporte de productos</a></li>
			<li><a asp-action="#">Reporte de clientes</a></li>
			<li><a asp-action="consultaEmpleadosXFechas">Reporte de empleados</a></li>
			<li><a asp-action="#">Reporte de proveedores</a></li>
            <li><a asp-action="#">Reporte de pedidos</a></li>
		</ul>
    </li>
    <br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <li><a asp-action="Login">Cerrar sesión</a></li>

</div>
