
<div class="nav">
    <img class = "logoimg" src="~/img/logo.png"/>
    <a asp-action="Carrito"><img class = "carimg" src="~/img/carrito.png"></a>
    
</div>

<div class="menuportal">

    <li><a href="/Marketec/MenuPrincipal">Menú Principal</a></li>
    <li><a href="#">Mantenimientos</a>
        <ul>
			<li><a href="#">Mantenimiento de productos</a></li>
			<li><a href="#">Mantenimiento de clientes</a></li>
			<li><a href="#">Mantenimiento de empleados</a></li>
			<li><a href="#">Mantenimiento de proveedores</a></li>
            <li><a href="#">Mantenimiento de pedidos</a></li>
		</ul>
    </li>
    <li><a href="#">Reportes</a>
        <ul>
			<li><a href="#">Reporte de productos</a></li>
			<li><a href="#">Reporte de clientes</a></li>
			<li><a href="#">Reporte de empleados</a></li>
			<li><a href="#">Reporte de proveedores</a></li>
            <li><a href="#">Reporte de pedidos</a></li>
		</ul>
    </li>
    <br />
    <br /><br /><br /><br />
    <li><a href="#">Cerrar sesión</a></li>

</div>

