@model WebAppProyectoDSW.Models.Empleado

@{
    ViewData["Title"] = "ActualizarEmpleado";
}


<link rel="stylesheet" href="~/css/estilos.css" />


@Html.Partial("_VistaParcial")

<h4>Mantenimiento de Empleados</h4>

<div class="contenedor">
<br />
<div class="row">
    <div class="col-md-9" style="margin-left:auto; margin-right: auto;">
        <form asp-action="ActualizarEmpleado">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Código:</label>
                <input asp-for="idEmpleado" class="form-control" readonly="readonly"/>
                <span asp-validation-for="idEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Apellidos:</label>
                <input asp-for="apeEmpleado" class="form-control" />
                <span asp-validation-for="apeEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nombres:</label>
                <input asp-for="nomEmpleado" class="form-control" />
                <span asp-validation-for="nomEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fecha de nacimiento:</label>
                <input asp-for="fecNac" class="form-control" type="date"/>
                <span asp-validation-for="fecNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Correo electrónico:</label>
                <input asp-for="correo" class="form-control" />
                <span asp-validation-for="correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Contraseña:</label>
                <input asp-for="clave" class="form-control" />
                <span asp-validation-for="clave" class="text-danger" ></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Actualizar" class="btn btn-primary" />
                <a asp-action="ListarEmpleados" class="btn btn-info">Listado</a>
            </div>
        </form>
    </div>
</div>

<div>
    @ViewBag.mensaje
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
