
@{
    ViewData["Title"] = "Confirmacion";
}


<link rel="stylesheet" href="~/css/estilos.css" />
<link rel="stylesheet" href="~/css/parcial.css" />

@Html.Partial("_VistaParcial")


<div class="contenedor">
    <h1>@ViewBag.msg</h1>
    <br />
    <a asp-action="MenuPrincipal" class="btn btn-primary">Ir al Menú Principal</a>
</div>


